DATABASE_TYPE=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_NAME=flowise
DATABASE_USER=user
DATABASE_PASSWORD=123
TOOL_FUNCTION_EXTERNAL_DEP=moment-business-days,moment-timezone
MODEL_LIST_CONFIG_JSON="$PWD/packages/components/models.json"
